{% extends "base.html" %}


{% block content_1 %}

 <!-- Login Register Section Start -->
 <section class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h3 class="sec-title">Register account now</h3>
                <p class="sec-desc">
                    Pellentesque habitant morbi tristique senectus et netus et
                </p>
                <div class="register-form">
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form.first_name }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.username }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.phone_number }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.email }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.password1 }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.password2 }}
                            </div>
                        </div>
                        <div class="keep-log-regi">
                            <input type="radio" id="register" name="register" value="keep-register">
                            <label for="register">
                                I accept the terms and conditions, including the Privacy Policy
                            </label>   
                        </div>
                        <input type="submit" name="submit" value="register">
                    </form>
                </div>
                <div class="social-log-regi">
                    <h5>OR Register WITH</h5>
                    <a href="#"><i class="twi-facebook-f"></i></a>
                    <a href="#"><i class="twi-twitter"></i></a>
                    <a href="#"><i class="twi-google-plus-g"></i></a>
                    <a href="#"><i class="twi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Register Section End -->
{% endblock %}