{% extends "base.html" %}
{% load static %}


{% block content_1 %}

<!-- Shop Section Start -->
<section class="shop-right-sidebar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-7">
                        <div class="results">
                            Showing 9 / 35 results
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="sort-view">
                            <a class="view-mode active" href="#"><i class="twi-th"></i></a>
                            <a class="view-mode" href="#"><i class="twi-bars"></i></a>
                            <div class="sorts">
                                <select name="sort">
                                    <option value="">Default Sorting</option>
                                    <option selected="selected" value="">low to high</option>
                                    <option value="">high to low</option>
                                    <option value="">Best Seller</option>
                                    <option value="">Popular Products</option>
                                </select>
                                <i class="twi-angle-down1"></i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                {% for product in products %}
                
                    <div class="col-lg-4 col-md-6">
                        <div class="single-shop-product">
                            <div class="sp-thumb">
                                <img src="{{ product.images.url }}" alt="" class="">
                                {% if product.tags %}
                                <div class="pro-badge">
                                    <p class="{{product.tags}}">{{product.tags}}</p>
                                </div>
                                {% endif %}
                            </div>
                            <div class="sp-details">
                                <h4>{{product.name}}</h4>
                                <div class="product-price clearfix">
                                    <span class="price">

                                        {% if product.tags == sale %}
                                            <del>
                                                <span>
                                                    <span class="woocommerce-Price-currencySymbol">$</span>
                                                    {{product.old_price}}
                                                </span>
                                            </del>
                                            <ins>
                                                <span>
                                                    <span class="woocommerce-Price-currencySymbol">$</span>
                                                    {{product.price}}
                                                </span>
                                            </ins>
                                        {% else %}
                                        <span>
                                            <span class="woocommerce-Price-currencySymbol">$</span>
                                            {{product.price}}
                                        </span>         
                                        {% endif %}
                                    </span>         
                                </div>
                                <div class="sp-details-hover">
                                    <a class="sp-cart" href="{% url "cart_add" product.id %}"><i class="twi-cart-plus"></i><span>Add to cart</span></a>
                                    <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
                </div>

                <div class="row">
                    <div class="col-lg-10 offset-lg-1 col-md-12 mt-20">
                        <div class="goru-pagination text-center clearfix">
                            <a class="prev" href="#"><i class="twi-long-arrow-alt-left"></i></a>
                            <span class="current">1</span>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a class="next" href="#"><i class="twi-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div> 


            </div>

            <div class="col-lg-2">
                <div class="shop-sidebar">
                    <aside class="widget widget-categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul>
                            {% for cat in categories %}
                            <li><a href="#">{{ cat.name }}</a></i></li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Shop Section End -->

{% endblock %}
